mat-sidenav-container{
  height: calc(100vh - 64px);
}
.bg-mat_toolbar{
  background-color: #e11d48 !important;
  color: white;
}
mat-sidenav , mat-sidenav-content{
  transition: all 500ms ease-in-out;
}
