<section class="sidenav-header pt-6 ">
  <img [width]="profilePicSize()" [height]="profilePicSize()" src="../../../../assets/images/gradient-book-company-logo_23-2148809438.jpg" alt="">
  <section class="text-center pt-6 h-16 mb-2  " [class.hide-header-text]="sideNavCollapsed()">
    <h2 class="m-0 text-lg h-6 font-bold font-sidebarfont  ">مدیریت کتابداران</h2>
    <p class="m-0 mt-1   font-sidebarfont  ">
      <span class="font-sidebarfont ">نگار کریمی</span>
    </p>
  </section>
</section>
<mat-nav-list>
  @for (item of menuItems(); track $index) {
    <a mat-list-item class="border-r-4 border-r-white hover:bg-blue-200 " [routerLink]="item.route" routerLinkActive="selected-menu-item" #rla="routerLinkActive" [activated]="rla.isActive">
      <mat-icon [fontSet]="rla.isActive ? 'material-icons':'material-icons-outlined'" matListItemIcon >{{item.icon}}</mat-icon>
      @if(!sideNavCollapsed()){
        <span matListItemTitle >{{item.label}}</span>
      }
    </a>
  }
</mat-nav-list>
