@if (currentAction!='list') {

  <section>
    <app-book-details/>
  </section>
}


@if (currentAction=='list') {

  <section>
    <div class="m-10 ">
      <button (click)="addBook()" class="bg-blue-500 sm:w-20 sm:h-8 font-thin
      text-white
      rounded-md ml-1 text-center hover:bg-blue-700 ">
      <mat-icon class="align-bottom ">plus_one</mat-icon>

      افزودن</button>
      <button (click)="addBook()" class="bg-red-500 sm:w-20 sm:h-8 font-thin
      text-white
      rounded-md ml-1 text-center hover:bg-red-700  ">
      <mat-icon class="align-bottom ">exposure_neg_1</mat-icon>
      حذف</button>
      <button (click)="addBook()" class="bg-green-500  sm:w-20 sm:h-8 font-thin
      text-white
      rounded-md align-top text-center hover:bg-green-700 ">
      <mat-icon class="align-bottom ">edit</mat-icon>

      ویرایش</button>
    </div>
  </section>
  <section class="relative overflow-x-auto shadow-lg sm:rounded-lg m-2 lg:mx-16 lg:my-10 ">

    <table mat-table [dataSource]="data" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="font-sidebarfont text-xs lg:text-base ">
        <mat-icon class="align-bottom  ">fingerprint</mat-icon>
          شناسه
        </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>


    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="font-sidebarfont text-xs lg:text-base ">
        <mat-icon class="align-bottom  ">toc</mat-icon>
        عنوان
      </th>
      <td mat-cell *matCellDef="let element" class="font-account text-xs lg:text-sm "> {{element.title}} </td>
    </ng-container>


    <ng-container matColumnDef="writer">
      <th mat-header-cell *matHeaderCellDef class="font-sidebarfont text-xs lg:text-base">
        <mat-icon class="align-bottom  ">person_pin</mat-icon>
        نویسنده
      </th>
      <td mat-cell *matCellDef="let element" class="font-account text-xs lg:text-sm "> {{element.writer}} </td>
    </ng-container>


    <ng-container matColumnDef="publisher">
      <th mat-header-cell *matHeaderCellDef class="font-sidebarfont text-xs lg:text-base ">
        <mat-icon class="align-bottom  ">publish</mat-icon>
        ناشر
      </th>
      <td mat-cell *matCellDef="let element" class="font-account text-xs lg:text-sm "> {{element.publisher}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="font-sidebarfont text-xs lg:text-base ">
        <mat-icon class="align-bottom  ">money</mat-icon>
         قیمت
      </th>
      <td mat-cell *matCellDef="let element" class="font-account ">
        <button class="w-16 py-1  rounded-md text-white bg-green-400 border border-green-600 ">
          {{element.price}}
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

}
