/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;  }
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:'PeydaLight' ;
  src: url('./assets/fonts/PeydaWebFaNum-Light.woff');
}
@font-face {
  font-family:'YekanBR' ;
  src: url('./assets/fonts/YekanBakh-Regular.woff2');
}
.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: rgba(26, 68, 255, 0.904);
    
  }
}

.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mdc-snackbar-container-color: red;
  }
}
