
<section class="  flex items-center justify-center  h-screen  ">

  <section class="bg-white  my-2 p-8 rounded-lg shadow-lg w-64 flex justify-center flex-col">
    <h1 class="text-2xl   mb-4 font-sidebarfont text-center "> مدیریت کاربر</h1>

    <form [formGroup]="memberForm">
      <section class="my-2 relative">
        <label for="iden" class="text-xs lg:text-base font-sidebarfont">شناسه  : </label>
        <input formControlName="id" type="text" id="iden" name="iden"
         class="border border-blue-200 w-full py-2 px-10 rounded-md  outline-none ">
        <mat-icon class="absolute top-8   right-2   text-gray-500 ">fingerprint</mat-icon>
        @if (memberForm.controls.id &&
        (memberForm.controls.id.dirty || memberForm.controls.id.touched)) {
        @if (memberForm.controls['id'].hasError('pattern')) {
          <mat-error class="block  text-red-400 text-xs m-2  ">  حروف مجاز  <strong>نیست</strong></mat-error>
        }
        @if (memberForm.controls['id'].hasError('noSpaceAllowed')) {
          <mat-error class="block  text-red-400 text-xs m-2  "> فاصله مجاز <strong>نیست</strong></mat-error>
        }
      }
      </section>


      <section class="mb-3 relative ">
        <label for="fullname" class="text-xs lg:text-base font-sidebarfont  ">نام و نام خانوادگی : </label>
        <input formControlName="fullname" type="text" id="fullname " name="fullname"
        class="border border-blue-200 py-2 px-10  block w-full rounded-md outline-none ">
        <mat-icon class="absolute top-9   right-2   text-gray-500 ">person</mat-icon>
        @if (memberForm.controls.fullname.invalid &&
        (memberForm.controls.fullname.dirty || memberForm.controls.fullname.touched)) {
          @if (memberForm.controls['fullname'].hasError('required')) {
          <mat-error class="block  text-red-400 text-xs m-2 font-sidebarfont ">  لطفا  <strong>  نام و نام خانوادگی  </strong> واردکن </mat-error>
          }
          @if (memberForm.controls['address'].hasError('noSpaceAllowed')) {
            <mat-error class="block  text-red-400 text-xs m-2  "> فاصله مجاز <strong>نیست</strong></mat-error>
          }
        }
      </section>

      <section class="mb-3 relative ">
        <label for="phoneNumber" class="text-xs lg:text-base font-sidebarfont  "> شماره همراه</label>
        <input formControlName="phoneNumber" type="text" id="phoneNumber" name="phoneNumber"
        class="border border-blue-200 py-2 px-10  block w-full rounded-md outline-none ">
        <mat-icon class="absolute top-9   right-2   text-gray-500 ">phone_in_talk</mat-icon>
        @if (memberForm.controls.phoneNumber.invalid &&
        (memberForm.controls.phoneNumber.dirty || memberForm.controls.phoneNumber.touched)) {
          @if (memberForm.controls['phoneNumber'].hasError('required')) {
          <mat-error class="block  text-red-400 text-xs m-2 font-sidebarfont ">  لطفا  <strong> شماره تلفن را</strong> واردکن </mat-error>
          }
          @if (memberForm.controls['phoneNumber'].hasError('pattern')) {
            <mat-error class="block  text-red-400 text-xs m-2  ">  حروف مجاز <strong>نیست</strong></mat-error>
          }
          @if (memberForm.controls['phoneNumber'].hasError('noSpaceAllowed')) {
            <mat-error class="block  text-red-400 text-xs m-2  "> فاصله مجاز <strong>نیست</strong></mat-error>
          }
        }
      </section>

      <section class="mb-3 relative ">
        <label for="major" class="text-xs lg:text-base font-sidebarfont  ">تحصیلات : </label>
        <input formControlName="major" type="text" id="major" name="major"
        class="border border-blue-200 py-2 px-10  block w-full rounded-md outline-none ">
        <mat-icon class="absolute top-9   right-2   text-gray-500 ">person_pin</mat-icon>
      </section>

      <section class="mb-3 relative ">
        <label for="address" class="text-xs lg:text-base font-sidebarfont  ">آدرس : </label>
        <input formControlName="address" type="address" id="address" name="address"
        class="border border-blue-200 py-2 px-10  block w-full rounded-md outline-none ">
        <mat-icon class="absolute top-9   right-2   text-gray-500 ">place</mat-icon>
      </section>

      <section>
        <button [disabled]="!memberForm.valid" class="bg-blue-500 hover:bg-blue-600 w-full disabled:bg-blue-200 text-white rounded-md my-2  lg:p-2 ">ورود</button>
        <button class=" border w-full rounded-md lg:p-2 ">بازگشت</button>
      </section>
    </form>
  </section>
</section>

